.details{
    text-shadow: 5px 10px 10px blue;
    font-size: 100px;
}
.pic{
    float: center;
    width:  200px;
    height: 300px;
    object-fit: cover;
}
.detailSec{
    display: inline-flex;
    
}

.description{
    word-wrap: break-word;
    width: 600px;
    border: 15px solid black;
    margin: 20px;
    box-shadow: 10px 10px 20px blue;
}