.movies {
    display: grid;
    grid-template-columns: auto auto auto auto;
    justify-content: space-evenly;
    align-content: space-evenly;
    
}

.ListTitle{
    font-size: 100px;
    text-shadow: 5px 5px 15px blue;
    
}